<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
  <% include ../partials/css %>
  <style>
      .content {
      max-width: 100%;
      margin-top: 25px;
    }
    #buttons {
      background-color: #57068c;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      cursor: pointer;
      width: 100%;
      padding-top: 10px;
      padding-bottom: 10px;
    }
    img.profilestyle {
      width: 200px;
      height:200px;
      border-radius: 50%;
      border:1px solid #ccc;
      object-fit: cover;
    }
    img.smallprofilestyle {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border:1px solid #ccc;
      object-fit: cover;
    }
    .wrapper {
      display: flex;
      width: 100%;
      align-content: center;
    }
    #scoreboard {
      margin-bottom:15px;
      display:block;
      border-radius:5px;
      border:1px solid #57068c;
      width: 100%;
      background: #f5f5f5;
      border-radius: 10px;
      color: #330662;
      justify-content: center;
      align-items: center;
      height:90vh;
      overflow:scroll;

    }
    #scoreboard a{
      font-size: 20px;
    }
    #contentbox {
      width: 100%;
    }
    li p{
      margin-bottom: 0px;
      margin-top: 10px;
    }
    #profile_info{
        width: 100%;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
    #profile_info::-webkit-scrollbar {
        display: none;
    }
    .info_section{
        text-align:left; 
        margin-left:10px;
        border-left: 1px solid #6d6d6d;
        padding-bottom: 30px;
        margin-bottom: 50px;
    }
    li p{
        color: #57068C;
    }
    .leaderboard-row{
      cursor: pointer;
    }

    
   

  </style>
</head>
<body>
  <header>
    <%- include('../partials/header-'.concat(auth?'':'no').concat('auth')) %>
  </header>
  <main>
    <!-- User Pop-up Profile Modal-->
    <div class="modal fade bd-example-modal-lg" id="userProfileModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aira-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="userProfileModal-title">Tutorial</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <!-- The modal is too messy so i put it in the partials folder, it's basically the same thing as the layout of the profile page wrapped inside modal-body with few minor changes-->
            <%- include('../partials/leaderboard_popup_modal') %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Back</button>
          </div>
        </div>
      </div>
    </div>


    <div class='wrapper'>
      <div class="container content" style="text-align:center; width:60% !important;">
          <div id = "scoreboard">
            <ul class="list-unstyled">
              <li>
                <table class="table" id = "leaderboard">
                  <h3> Top Contributors </h3>
                  <thead>
                    <tr>
                      <th scope="col" style = "text-align: center;">#</th>
                      <th scope="col"></th>
                      <th scope="col" style = "text-align: center;">Name</th>
                      <th scope="col" style = "text-align: center;">Tags Placed</th>
                    </tr>
                  </thead>
                  <tbody>

                  </tbody>
                </table>
              </li>
            </ul>
            <a id='first' href="community.1">&#8606;</a>
            <a id='prev' href="community.<%=parseInt(curr_page) - 1%>">&larr;</a> 
              Page Number: <input style='max-width:50px;' class='pageCtrl' type='text' maxlength='5' placeholder='<%=curr_page%>' onkeypress="return goToPage(event)"> / <%= max_page %> 
            <a id = 'next' href="community.<%=parseInt(curr_page) + 1%>">&rarr;</a>
            <a id = 'last' href="community.<%=max_page%>">&#8608;</a>

            <br><a style = 'font-size: 16px;' href='community-ownRank'>Where am I on the leaderboard?</a>
            
          </div>
      </div>

      <div class="container content" style="text-align:center; width:40% !important;">
        <h5 style="font-size:16px;">Find a user by name: </h5>
        <input id='searchName'>
        <a style='cursor:pointer' id='searchButton'>&#x1F50D;</a>
        <h5 id='notFound' style="color:red;visibility:hidden;">User not Found!</h5>
      </div>
    </div>
  </main>
  <footer>
    <% include ../partials/footer %>
  </footer>
  <last>
    <!-- This implements the modal window pullup whenever the user clicks on a row of the list, all of the info for each user on the leaderboard is prestored on client side when the page opens, and loaded into the modal as user clicks. -->
    <% include ../partials/scripts %>
    <% include ../partials/loadLeaderBoard %>
    
    <!-- Socket Stuff-->
    <script src="/socket.io/socket.io.js"></script> 
    <script>
      var socket = io.connect('http://127.0.0.1:8080')
      socket.on('connect',function(data){
        socket.emit('join','Hello world from client / Leaderboard.');
      });

      socket.on('messages', function(data){
        console.log(data);
      })

      socket.on('searchFound', function(data){
        $('#notFound').css("visibility","hidden");
        console.log(data);
        let currUser = data;
        let userModal = $('#userProfileModal');
        console.log(currUser);
        
        userModal.find('.modal-title').text(currUser.name+"'s Profile");
        let profileSetUp = new Promise (function(resolve,reject){
            for (var keys in currUser){
                if (keys == 'profile_picture'){
                    $('#profile_picture').attr('src','propics/'+currUser[keys]);
                } else if (currUser[keys] != 'null') {

                    $('#'+keys).text(currUser[keys]);
                }
            }
            resolve();
        });

        profileSetUp.then(function(){
          socket.emit('dataLogger',[<%-  id %>, "user_search_access", currUser.name, "tags done: " + currUser.tags_done + ", pics done: " + currUser.pics_done]);
          userModal.modal()
        });
      })

      socket.on('searchNotFound', function(data){
        console.log(data);
        $('#notFound').css("visibility","visible");
        socket.emit('dataLogger', [<%- id %>, "user_search_access", $('#searchName').val(), "invalid_name"]);
      })

      function searchForUser() {
        let searchName = $('#searchName').val();
        console.log(searchName);
        socket.emit('search',searchName);
      }

      $('#searchButton').click(function(e){
        searchForUser();
      });

    </script>
    
    <script>
        window.onbeforeunload = function() {
            socket.emit('dataLogger', [<%- id %>, "exit", "leaderboard", <%- curr_page %>]);
        }
    </script>


  </last>
</body>
</html>